*{
    font-family: 'Overpass', sans-serif;
}
.account-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px;
    color: white;
}
.account-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 315px;
    gap: 50px;
}
.number{
    flex-direction: column;
    align-items: flex-start;
}
.name{
    flex-direction: column;
    align-items: flex-start;
}

.account-labels::content{
    width: 120px;
}
.account-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.names-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.account-input{
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    padding-left: 20px;
    height: 35px;
    width: 94%;
    background-color: rgb(176, 176, 176);
    color: black;
    border-radius: 5px;
    outline: none;
    border: none;
}
.account-input::placeholder{
    color: black;
}
.email-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 315px;
    gap: 30px;
}
.contact-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.PhoneInputInput{
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    padding-left: 20px;
    height: 35px;
    width: 250px;
    background-color: rgb(176, 176, 176);
    color: black;
    border-radius: 5px;
    outline: none;
    border: none;
}
.edit-button{
    background-color: red;
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 0;
}
.update-button{
    background-color: red;
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 0;
}
.update-button:disabled{
    background-color: rgb(145, 4, 4);
    color: rgb(179, 179, 179);
    font-size: 18px;
    font-weight: bold;
}
.account-buttons{
    display: flex;
    gap: 15px;
}
.email-input{
    width: 94%;
}
.PhoneInputCountry{
    background-color: rgb(176, 176, 176);
    color: black;
    padding: 2px;
    border-radius: 5px;
}
.login-link{
    text-decoration: none;
    color: red;
}
.register-link{
    text-decoration: none;
    color: white;
}
.no-logged-account{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.button-divs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}